{% extends 'base.html' %}
{% load static %}
{% block title %}
CinePhile
{% endblock title %}

{% block main %}

<!-- <style>
  .card:hover .card-img-top{
    transform: scale(1.06);
  }
  
</style> -->


<!-- <div class="container-fluid mt-5">       
  <div class="h4 pb-2 mb-2 text-danger text-center  my-3">MOVIES</div>                  
  <div class="row ">                 
      {% for i in form %}         
      <div class="col-md-2">         
          <div class="card border-2" style="width: 13.7rem ;">     
              <img src="{{ i.image.url }}" class="card-img-top" alt={{i.name}} height="250px"> -->
              <!-- <div class="card-body">                   
                  <p class="card-title ">{{i.name}}</p>      
              </div>             -->
          <!-- </div>          
      </div>      
      {% endfor %}
  </div> --> 

<div class="container-fluid mt-5">  
  {% for i in form %} 
  <div>
   <h2>{{i.name}}</h2>
    <div>
      {{i.discription}}
    </div>
  </div>
  {% endfor %}
</div>


{% endblock main %}