{% extends 'index.html' %}
{% load static %}
{% block title %}
Login
{% endblock title %}

{% block main %}

<style>
    .card:hover .card-img-top{
      transform: scale(1.06);
    }
    
  </style>
  
  
  <div class="container-fluid mt-5 ">       
    <div class="h4 pb-2 mb-2 text-danger text-center  my-3">My WatchList</div>                  
    <div class="row ">                 
        {% for i in data %}         
        <div class="col-md-2">         
            <div class="card border-2" style="width: 13.7rem ; margin-top: 2rem;" >    
              <a href="{% url 'movie_detail' i.item.id %}">
                <img src="{{ i.item.image.url }}" class="card-img-top" alt="" height="260px">
              </a>
              <a class="btn btn-success" href="{% url 'delete_watchlist' i.id %}" style="text-decoration: none;">Remove WatchList</a>           
            </div>          
        </div>      
        {% endfor %}
    </div> 
  

{% endblock main %}
