{% extends 'index.html' %}
{% load static %}
{% block title %}
MOvies
{% endblock title %}

{% block main %}
<style>

  .label:hover {
      transform: scale(1.2);
    }     
    button:hover {
      transform: scale(1.2);
      
    } 

</style>     
    <div class="container d-flex justify-content-around  ">
        <form action="" method="post" class="bg-info-subtle m-5 p-5 w-50  ">
          {%csrf_token%}
            <p class="fw-bold fs-3 text-center"> REGISTER</p>
            <hr class="mb-5 w-20 border-4 ">
             <div class=" text-center">
               <div class="row">
                <div class="label mb-4">  
                 {{form.username}}
                 {% if form.errors.username %}
                 <label for="" class="form-label ">{{form.errors}}</label>
                 {%endif%}
                </div>
                <div class="label mb-4">
                   {{form.first_name}}
                    {% if form.errors.first_name %}
                    <label for="" class="form-label ">{{form.errors}}</label>
                    {%endif%}
                </div>
                <div class=" label mb-4">
                    {{form.last_name}}
                    {% if form.errors.last_name %}
                    <label for="" class="form-label ">{{form.errors}}</label>
                    {%endif%}
                </div>
                <div class="label mb-4">
                    {{form.email}}
                    {% if form.errors.email %}
                    <label for="" class="form-label ">{{form.errors}}</label>
                    {%endif%}
                </div>
                <div class="label mb-4">
                     {{form.password1}}
                    {% if form.errors.password1 %}
                    <label for="" class="form-label ">{{form.errors}}</label>
                    {%endif%}
                </div>
                <div class="label mb-4">
                    {{form.password2}}
                    {% if form.errors.password2 %}
                    <label for="" class="form-label ">{{form.errors.paasword2}}</label>
                    {%endif%}
                </div>
           <div style="align-items: center;">
             <button class="btn btn-primary mt-4 mb-4" style="width: 80%; height: 50px; font-size: x-large;" type="submit">Register</button>
            </div>
        </div>
      </div>
     </form>
    </div>

{% endblock main %}